.white-color{
  background-color: white;
  margin: 5px;
}

.btn-add{ 
min-width: 43px;
line-height: 25px;
padding: 0;
margin-left:10px;
}

table {
  width: 100%;
}

#lojaInput{
  width: 100%;
}

#prodInput{
  width: 80%;
}

#precoInput{
  width: 100%;
}
