<div class="container-table card-block card-header">
  <form #f="ngForm">

    <div class="row justify-content-between">
      <div class="col-3">
        <mat-form-field id="lojaInput">
          <mat-label>Lojas</mat-label>
          <mat-select [(ngModel)]="associacao
          .idLoja" title="Lojas" name="loja" #model="ngModel" (selectionChange)="listarProdutosLoja()" required>
            <mat-option *ngFor="let loja of lojas" [value]="loja.id"> {{loja.nome}} </mat-option>
        </mat-select>
        <mat-error *ngIf="f.invalid">Loja é obrigatório.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field id="prodInput">
          <mat-label>Produtos</mat-label>
          <mat-select matNativeControl [(ngModel)]="associacao.idProduto" title="Produtos" name="produto" #model="ngModel" required>
            <mat-option *ngFor="let prod of produtos" [value]="prod.id">{{prod.nome}}</mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="f.invalid">Produto é obrigatório.</mat-error> -->
        </mat-form-field>
        <button class="btn-add" mat-stroked-button routerLink="../cadastroproduto"
          matTooltip="Não encontrou? Clique e cadastre"
          aria-label="Button that displays a tooltip in various positions">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="col-3">
        <mat-form-field id="precoInput"> 
          <mat-label>Preço</mat-label>
          <span matPrefix>R$</span>
          <input type="number" matInput placeholder="Preço" [(ngModel)]="associacao.preco" name="preco" #model="ngModel" required>
          <!-- <mat-error *ngIf="f.invalid">Preço é obrigatório.</mat-error> -->
        </mat-form-field>
      </div>
      <div class="row col-2 align-items-center">
      <button class="col-8"  mat-raised-button (click)="salvar(f)" [disabled]="!f.valid">Incluir</button>
      </div>
    </div>

</form>
</div>
    <div class="container-table">
      <div class="mat-elevation-z8">
        <div class="row">
          <div class="col-8">
            <div class="titulo-table">
             <h6 class="titulo">Produtos da Loja </h6>
            </div>
          </div>
          <div class="col-4">
            <div class="filtro-table">
              <mat-form-field class="filtro">
                <mat-label>Busca: </mat-label>
                <input matInput name="search" [(ngModel)]="filter">
              </mat-form-field>
            </div>
          </div>
        </div> 
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th id="id">#</th>
                <th (click)="sort('produto')">Produto
                  <span *ngIf="key =='produto'">{{reverse ? '▲' : '▼'}}</span>
                </th>
                <th (click)="sort('categoria')">Categoria 
                  <span *ngIf="key =='categoria'">{{reverse ? '▲' : '▼'}}</span>
                </th>
                <th (click)="sort('marca')">Marca
                  <span *ngIf="key =='marca'">{{reverse ? '▲' : '▼'}}</span>
                </th>
                <th (click)="sort('preco')">Preço
                  <span *ngIf="key =='preco'">{{reverse ? '▲' : '▼'}}</span>
                </th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let loja of lojaPreco |filter:filter| orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: p }">
                <td>{{loja.produtoResource.id}}</td>
                <td>{{loja.produtoResource.nome}}</td>
                <td>{{loja.produtoResource.categoria.nome}}</td>
                <td>{{loja.produtoResource.marca.nome}}</td>
                <td>{{loja.preco}}</td>
                <td><button mat-raised-button color="primary" (click)="openModal(editProfileModal,loja)">Editar preço</button>
                {{' '}}<button mat-raised-button color="warn" (click)="removeAssociacao(loja.produtoResource.id)"><mat-icon aria-hidden="false" aria-label="Excluir assoiciação">delete</mat-icon>
                </button></td>
              </tr>
            </tbody>
          </table>
          <div class="row justify-content-center">
            <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
            nextLabel="Próximo"></pagination-controls>
          </div>
        </div> 
</div>

<ng-template #editPrecoModal let-modal>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Alterar Preço</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
          <mat-label>De:</mat-label>
          <input matInput formControlName="precoAntigo">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Para:</mat-label>
          <input matInput type="number" placeholder="Preço novo" formControlName="precoNovo">
        </mat-form-field>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="decline()">Cancelar</button>
      <button type="button" class="btn btn-success" (click)="onSubmit()">Confirmar</button>
    </div>
</ng-template>
<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excuir a loja?</p>
    <button type="button" class="btn btn-default" (click)="confirmRemocaoAssoc()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
