<div class="card-block card-header white-color">
  
  <mat-form-field class="col-md-3">
    <mat-label>Lojas</mat-label>
    <mat-select title="Lojas">
      <mat-option *ngFor="let loja of lojas" [value]="loja.id">{{loja.nome}}</mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field class="col-md-3">
    <mat-label>Produtos</mat-label>
    <mat-select title="Produtos">
      <mat-option *ngFor="let prod of produtos" [value]="prod.id">{{prod.nome}}</mat-option>
      </mat-select>
  </mat-form-field>
  <button class="btn-add" mat-stroked-button routerLink="../cadastroproduto"
    matTooltip="Não encontrou? Clique e cadastre"
    aria-label="Button that displays a tooltip in various positions">
    <mat-icon>add</mat-icon>
  </button>
  
  <mat-form-field class="col-md-2">
    <mat-label>Preço</mat-label>
    <span matPrefix>R$</span>
    <input type="number" matInput placeholder="Preço">
  </mat-form-field>

  <button class="col-md-2" mat-raised-button>Incluir</button>
</div>

<div class="card-block card-header white-color">
  Produtos da loja 
</div>
<div class="container-table">
  <div class="mat-elevation-z8">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th id="id">#</th>
            <th>Nome da Loja</th>
            <th>Produto</th>
            <th>Preço</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loja of lojas">
            <td>{{loja.id}}</td>
            <td>{{loja.nome}}</td>
            <td>{{loja.ruaEnderecoComercial}}</td>
            <td>{{loja.telefoneContato}}</td>
            <td><button mat-raised-button color="primary"  ><mat-icon aria-hidden="false" aria-label="Detalhar">description</mat-icon>
            </button>
            {{' '}}<button mat-raised-button color="warn" ><mat-icon aria-hidden="false" aria-label="Excluir loja">delete</mat-icon>
            </button></td>
          </tr>
         
        </tbody>
      </table>
    
      <div class="row justify-content-end">
        <div class="col-6">
          <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
      </div>
    </div> 
  </div> 