<div class="container-table">
  <div class="mat-elevation-z8">    
    <div class="row">
      <div class="col-8">
        <div class="titulo-table">
         <h6 class="titulo">Lojas cadastradas</h6>
        </div>
      </div>
      <div class="col-4">
        <div class="filtro-table">
          <mat-form-field class="filtro">
            <mat-label>Busca: </mat-label>
            <input matInput name="search" [(ngModel)]="filter">
          </mat-form-field>
        </div>
      </div>
    </div> 
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th id="id">#</th>
            <th (click)="sort('nome')">Nome da Loja
              <span *ngIf="key =='nome'">{{reverse ? '▲' : '▼'}}</span>
            </th>
            <th>Endereco</th>
            <th>Telefone Contato</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="loja-list" ng *ngFor="let loja of lojas |filter:filter| orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: p }" (dblclick)="detalhar(loja)">
            <td>{{loja.id}}</td>
            <td>{{loja.nome}}</td>
            <td>{{loja.ruaEnderecoComercial}}</td>
            <td>{{loja.telefoneContato}}</td>
            <td><button mat-raised-button color="primary"  (click)="editar(loja.id)"><mat-icon aria-hidden="false" aria-label="Detalhar">description</mat-icon>
            </button>
            {{' '}}<button mat-raised-button color="warn" (click)="deletar(loja.id)"><mat-icon aria-hidden="false" aria-label="Excluir loja">delete</mat-icon>
            </button></td>
          </tr>
         
        </tbody>
      </table>
      <div class="row justify-content-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
        nextLabel="Próximo"></pagination-controls>
      </div>
      <div class="row justify-content-end">
        <div class="fab-bottom-right">
          <button id="btn-add" mat-fab routerLink="../cadastroloja" color="primary"><mat-icon>add</mat-icon></button>
        </div>
      </div>
    </div> 
  </div> 
  <ng-template #viewModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Dados da Loja</h4>
      </div>
      <form [formGroup]="editProfileForm">
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-md-4">
            <mat-form-field>
              <mat-label>Nome da Loja:</mat-label>
              <input matInput formControlName="nomeLoja">
            </mat-form-field>
          </div>
          <div class="form-group col-md-3">
            <mat-form-field>
              <mat-label>Razão Social:</mat-label>
              <input matInput formControlName="razaoSocial">
            </mat-form-field>
          </div>
          <div class="form-group col-md-2">
            <mat-form-field>
              <mat-label>CNPJ:</mat-label>
              <input matInput formControlName="cnpj">
            </mat-form-field>
          </div>
          <div class="form-group col-md-3">
            <mat-form-field>
              <mat-label>Telefone de Contato:</mat-label>
              <input matInput formControlName="telefoneContato">  
          </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-7">
            <mat-form-field>
              <mat-label>Rua:</mat-label>
              <input matInput formControlName="ruaEndereco">  
            </mat-form-field>
          </div>
          <div class="form-group col-md-2">
            <mat-form-field>
              <mat-label>Numero Endereco</mat-label>
              <input matInput formControlName="numeroEndereco">  
            </mat-form-field>
          </div>
          <div class="form-group col-md-3">
            <mat-form-field>
              <mat-label>Bairro:</mat-label>
              <input matInput formControlName="bairroEndereco">
            </mat-form-field>
          </div>
      </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <mat-form-field>
              <mat-label>Cidade:</mat-label>
              <input matInput formControlName="cidadeEndereco">
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <mat-form-field>
              <mat-label>Estado:</mat-label>
              <input matInput formControlName="estadoEndereco">
            </mat-form-field>
          </div>
          <div class="form-group col-md-4">
            <mat-form-field>
              <mat-label>CEP:</mat-label>
              <input matInput formControlName="cep">
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="decline()">Fechar</button>
      </div>
  </ng-template>
<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excuir a loja?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>