<div class="container-table">
  <div class="mat-elevation-z8">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th id="id">#</th>
            <th>Nome da Loja</th>
            <th>Endereco</th>
            <th>Telefone Contato</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loja of lojas">
            <td>{{loja.id}}</td>
            <td>{{loja.nome}}</td>
            <td>{{loja.ruaEnderecoComercial}}</td>
            <td>{{loja.telefoneContato}}</td>
            <td><button mat-raised-button color="primary" (click)="editar(loja.id)">Detalhar</button>
            {{' '}}<button mat-raised-button color="warn" (click)="deletar(loja.id)">Excluir</button></td>
          </tr>
         
        </tbody>
      </table>
    
      <div class="row justify-content-end">
        <div class="col-6">
          <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
        <div class="col-4">
          <button id="btn-add" mat-fab routerLink="../cadastroloja" color="primary"><mat-icon>add</mat-icon></button>
        </div>
      </div>
    </div> 
  </div> 
<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excuir a loja?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>