<div class="container-table">
    <div class="mat-elevation-z8">
      <table class="table table-hover">
        <thead>
          <tr>
            <!--<th scope="col">#</th>-->
            <th scope="col">Nome da Loja</th>
            <th scope="col">Endereco</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loja of lojas">
            <th scope="row">1</th>
            <!--<td>{{loja.id}}</td>-->
            <td>{{loja.nome}}</td>
            <td>{{loja.ruaEnderecoComercial}}</td>
            <td><button type="button" class="btn btn-primary">Primary</button></td>
            
          </tr>
         
        </tbody>
      </table>
    
      <div class="row justify-content-end">
        <div class="col-6">
          <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
        </div>
        <div class="col-4">
          <button id="btn-add" mat-fab routerLink="../cadastroloja" color="primary"><mat-icon>add</mat-icon></button>
        </div>
      </div>
    </div> 
  </div> 