<div *ngIf="!IsLogado">
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <mat-icon class="icone">computer</mat-icon>Computador
                    </div>
                    <mat-divider></mat-divider>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Desktop</li>
                        <li class="list-group-item">Notebook</li>
                        <li class="list-group-item">Tablets/iPads</li>
                    </ul>
                </div>

            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <mat-icon class="icone">devices_other</mat-icon>Dispositos Smarts
                    </div>
                    <mat-divider></mat-divider>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Smartphones</li>
                        <li class="list-group-item">Smartwatches</li>
                        <li class="list-group-item">Automação Residencial</li>
                    </ul>
                </div>

            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <mat-icon class="icone">keyboard</mat-icon>Periféricos
                    </div>
                    <mat-divider></mat-divider>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Monitores/TVs</li>
                        <li class="list-group-item">Mouses</li>
                        <li class="list-group-item">Teclados</li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row align-items-end" style="padding-top: 2rem;">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <mat-icon class="icone">developer_board</mat-icon>Hardware
                    </div>
                    <mat-divider></mat-divider>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Placas Mãe</li>
                        <li class="list-group-item">Processadores</li>
                        <li class="list-group-item">Memórias</li>
                    </ul>
                </div>

            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <mat-icon class="icone">gamepad</mat-icon> Video Game
                    </div>
                    <mat-divider></mat-divider>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Consoles</li>
                        <li class="list-group-item">JoySticks</li>
                        <li class="list-group-item">Jogos</li>
                    </ul>
                </div>

            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <mat-icon class="icone">headset</mat-icon> Acessórios
                    </div>
                    <mat-divider></mat-divider>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Headphones/Fones de ouvido</li>
                        <li class="list-group-item">Carregadores</li>
                        <li class="list-group-item">Capas e Cases</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

    <div *ngIf="IsLogado">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">content_copy</i>
                            </div>
                            <p class="card-category">Funcionários</p>
                            <h3 class="card-title">40
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-info">launch</i>
                                <a routerLink="funcionarios">Ver mais</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">store</i>
                            </div>
                            <p class="card-category">Lojas</p>
                            <h3 class="card-title">100</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-info">launch</i>
                                <a routerLink="lojas">Ver mais</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">receipt</i>
                            </div>
                            <p class="card-category">Produtos</p>
                            <h3 class="card-title">75</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-info">launch</i>
                                <a routerLink="incluirproduto">Ver mais</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">local_offer</i>
                            </div>
                            <p class="card-category">Marcas</p>
                            <h3 class="card-title">50</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-info">launch</i>
                                <a routerLink="marcas">Ver mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-end" style="padding-top: 2rem;">
                <div class="col-lg-12 col-md-4">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Produtos mais pesquisados</h4>
                            <p class="card-category">pesquisa últimos 30 dias</p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="card-category">
                                    <th>ID</th>
                                    <th>Nome Produto</th>
                                    <th>Marca</th>
                                    <th>Número de buscas</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Mouse s/ fio </td>
                                        <td>Microsoft</td>
                                        <td>42</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>AirDots</td>
                                        <td>Xiomi</td>
                                        <td>66</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>MiBand 4</td>
                                        <td>Xiomi</td>
                                        <td>59</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>PlayStation 4</td>
                                        <td>Sony</td>
                                        <td>30</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>