<!-- <h1 mat-dialog-title>{{data.nome}}</h1>
<div mat-dialog-content>
  <ul>
    <li>CNPJ: {{data.cnpj}} </li>
    <li>Razão Social: {{data.razaoSocial}} </li>
    <li>Endereço: {{data.ruaEnderecoComercial}}
    <li>n°: {{data.numeroEnderecoComercial}} </li>
    <li>Bairro: {{data.bairroEnderecoComercial}} </li>
    <li>Cidade: {{data.cidadeEnderecoComercial}} </li>
    <li>Estado: {{data.estadoEnderecoComercial}} </li>
    <li>Cep: {{data.cepEnderecoComercial}} </li>
    <li>Contato: {{data.telefoneContato}} </li>
  </ul>
</div> -->

<div class="login-wrapper container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>{{data.lojaNome}}</mat-card-title>
    </mat-card-header>
    <br>

    <b>CNPJ:</b> {{data.lojaCnpj}} <br>
    <b>Razão Social:</b> {{data.lojaRazaoSocial}} <br>
    <b>Endereço:</b> {{data.lojaRuaEnderecoComercial}} <br>
    <b>n°:</b> {{data.lojaNumeroEnderecoComercial}}  <br>
    <b>Bairro:</b> {{data.lojaBairroEnderecoComercial}} <br>
    <b>Cidade:</b> {{data.lojaCidadeEnderecoComercial}} <br>
    <b>Estado:</b> {{data.lojaEstadoEnderecoComercial}} <br>
    <b>Cep:</b> {{FormatarCEP(data.lojaCepEnderecoComercial)}} <br>
    <b>Contato:</b> {{FormatarTel(data.lojaTelefoneContato)}} <br>
  </mat-card>
</div>
